<%- include('../partials/header') %>

<section id="ingredient-show-page">
  <h3>Name:</h3>
  <h2><%= ingredient.name %></h2>
  <br />

  <!-- show meals below this comment -->
  <h3>Meal Ideas:</h3>
  <ul>
    <% dataMeal.forEach(function(m){ %>
    <article class="badge"></article>
    <li>
      <%= m.title %>
      <a href="/mealprep/<%= m._id %>"><button>DETAILS</button></a>  
    </li>
    </article>
    <% }) %>
  </ul> 

  <br /><br /><br />
  <!-- start Nutrition list -->
  <!-- Grab from API -->
  <h3>Nutrition:</h3>

  <!-- <p>Content: <%=  ingredient.nutrition.content %></p> -->
  <!-- end Nutrition list -->
</section>

<%- include('../partials/footer') %>
