<%- include('../partials/header') %>

<section id="ingredient-show-page">
  <div>Name:</div>
  <div><%= ingredient.name %></div>
  <br />

  <!-- show meals below this comment -->
  <div>Meal Ideas:</div>
  <ul>
    <% dataMeal.forEach(function(m){ %>
    <article class="badge"></article>
    <li>
      <%= m.title %>
      <a href="/mealprep/<%= m._id %>"><button>DETAILS</button></a>  
    </li>
    </article>
    <% }) %>
  </ul> 

  <br /><br /><br />
  <!-- start Nutrition list -->
  <div>Nutrition:</div>

  <!-- end Nutrition list -->
</section>

<%- include('../partials/footer') %>
