<%- include('../partials/header') %> <% if (mealprep.length) { %>
<table id="list">
  <thead>
    <tr>
      <th>Meal Prep</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <% let total = 0 %>

  <tbody>
    <% mealprep.forEach(function(m) { %>
    <tr>
      <td><%= m.title %></td>
      <td><%= m.price %></td>
      <% if(m.price) total += m.price %>
      <td>
        <a href="/mealprep/<%= m._id %>"
          ><button type="button" class="btn btn-success">DETAILS</button></a
        >
      </td>
      <td>
        <!--  ?_method=DELETE to overwrite POST-->
        <form action="/mealprep/<%= m._id %>?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Delete"
            type="button"
            class="btn btn-secondary"
          />
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<br />
<div>💵 Total Cost: <%= total %> 💵</div>
<% } else { %>
<h3>No Meal Prep Yet</h3>
<% } %>

<br />
<a href="/users/logout"
  ><button type="button" class="btn btn-dark btn-sm">Logout</button></a
>
<%- include('../partials/footer') %>
