<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= mealprep.title %></div>
  <div>Price:</div>
  <div><%= mealprep.price %></div>
  <div>Rating:</div>
  <div><%= mealprep.starRating %></div>
  <div>Prepare Time:</div>
  <div><%= mealprep.prep_time %></div>
  <img src="<%= mealprep.imgURL>" alt="<%= mealpre.title>" />
  <!-- start ingredient list -->
  <div>Ingredients:</div>
  <ul>
    <%- mealpre.ingredients.map(i => `
    <li>${i.name} <small>${i.born.toLocaleDateString()}</small></li>
    ` ).join('') %>
  </ul>
  <!-- end cast list -->
</section>

<!-- add to ingredients form below this comment -->
<form
  id="add-per-to-cast"
  action="/movies/<%=mealprep._id%>/ingredients"
  method="POST"
>
  <select name="performerId">
    <%- performers.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>
  <button type="submit">Add to Ingredient</button>
</form>

<%- include('../partials/footer') %>
