<%- include('../partials/header') %>

<section id="meal-show-page">
  <div>Title:</div>
  <div><%= mealprep.title %></div>
  <div>Estimated Price:</div>
  <div><%= mealprep.price %></div>
  <div>Rating:</div>
  <div><%= mealprep.starRating %></div>
  <div>Prepare Time:</div>
  <div><%= mealprep.prep_time %></div>

  <!-- start ingredient list (has to use %- to use map) -->
  <div>Ingredients:</div>
  <ul>
    <%- mealprep.ingredients.map(i => `
    <li>${i.name} </li>
    ` ).join('') %>
  </ul>
  <!-- end ingredient list -->
</section>
<!-- add ingredients form below this comment -->

<!-- end to add ingredients -->



<!-- Meal Image -->
<img class="mealImage" src=" <%= mealprep.imgURL %>" alt="<%= mealprep.title %>" />
 
<!-- Footer -->
<%- include('../partials/footer') %>
</section>
