<%- include('../partials/header') %>

<section id="show-page">
  <div>Title:</div>
  <div><%= mealprep.title %></div>
  <div>Price:</div>
  <div><%= mealprep.price %></div>
  <div>Rating:</div>
  <div><%= mealprep.starRating %></div>
  <div>Prepare Time:</div>
  <div><%= mealprep.prep_time %></div>

  <!-- start ingredient list -->
  <div>Ingredients:</div>
  <ul>
    <%- mealprep.ingredients.map(i => `
    <li>${i.name} </li>
    ` ).join('') %>
  </ul>
  <!-- end cast list -->
</section>

<!-- add to ingredients form below this comment -->
  <form
  id="add-per-to-cast"
  action="/mealprep/<%=mealprep._id%>/ingredients"
  method="POST"
>
  <select name="ingredientId">
    <%- ingredients.map(p => `
    <option value="${p._id}">${p.name}</option>
    ` ).join('') %>
  </select>
  <button type="submit">Add to Ingredient</button>
</form>
<img class="mealImage" src=" <%= mealprep.imgURL %>" alt="<%= mealprep.title %>" />
  <%- include('../partials/footer') %>
</section>
