<%- include('../partials/header') %>

<section id="ingredient-show-page">
  <h3>Name:</h3>
  <h2><%= ingredient.name %></h2>
  <br />

  <!-- show meals below this comment -->
  <h3>Your Meal Ideas:</h3>
  <ul>
    <% dataMeal.forEach(function(m){ %>
    <article class="badge"></article>
    <li>
      <%= m.title %>
      <a href="/mealprep/<%= m._id %>"><button>DETAILS</button></a>  
    </li>
    </article>
    <% }) %>
  </ul> 

  <br /><br /><br />
  <!-- start Nutrition list -->
  <!-- Grab from API -->
  <% if (ingredient.nutrition.length > 0){  %>
   <h3>Description:</h3>
   <%= ingredient.description %>
   <br />
   <h3>Nutrition:</h3>
    <% ingredient.nutrition.forEach(function(i){ %>
      <%= i.nutrientName %> : <%= i.value %><%= i.unitName %> <br />
    <% }); %>
  <% } else { %>    
    <h3>Nutrition Not Found</h3> 
  <% } %>
  <!-- end Nutrition list -->
</section>

<%- include('../partials/footer') %>
